.text-container {
  width: 20vw;
  padding: 5px;
  background-color: black;
  color: aliceblue;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}
.image {
  height: 20vh;
}
.container {
  display: flex;
  flex: 1;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.addToCart {
  background-color: black;
  color: white;
  border-width: 0;
  padding: 20px;
  margin: 1%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.addToCart:hover {
  background-color: white;
  color: black;
}
