.container {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-color: aliceblue;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}
.button {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  margin-right: 5%;
}
.button:hover {
  background-color: aliceblue;
  color: black;
}
.shopButtonContainer {
  display: flex;
  justify-content: flex-start;
}
.shopButton {
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
}
